@font-face {
  font-family:Kanit ;
  src: url(../font/Kanit-Regular.woff);
}

body{

  font-family: Kanit ;
  background-color: wheat;
   
  
}
.header{
  justify-content: center;
  position: sticky;
  top: 0;
  display: flex;
  margin:5px;
  padding: 5px;
  border-radius: 1rem;
  overflow: hidden;
  background: yellow;
}
.header img{

  height: 50px;
  width:  50px;
  border-radius: 100px;
  box-shadow: 2px 2px 4px white;
}
div{
  color: rgb(255, 255, 255);
   
}
main{
display: flex;

}
.main h1{
box-shadow: 5px 5px 10px ;

}
.main img{
justify-content: center;
height: 250px;
position: relative;
border-radius: 50%;
width: 250px;
margin: 25px;
top: 0;
transition:  top ease 0.5s;
}
.main img:hover{
  top: -25px;
}
.button{
position: relative;
width: 70px;
height: 30px;
font-size: 10px;
background-color: black;
color: aliceblue;
border: none;
border-radius: 4px;
cursor: pointer;
transform: width .5s;
border-radius: .5s;

}
.button * {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 transition: opacity .25s;
}
.icon{
  opacity: 0;

}
.button:focus{
  width: 30px;
  background-color: greenyellow;
  border-radius: 50%;
}
.button:focus .text{
  opacity: 0;
}
.button:focus .icon{
  opacity: 1;
  transition-delay: .5s;
}
/* .Yin-yang{

  width: 96px;
  height: 48px;
  background: white;
  border-color: black;
  position: relative;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  animation: spin 8s linear infinite;
} */
/* .Yin-yang::before{
  content: "";
  background: white;
  border: 18px solid black;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 100%;
  width: 12px;
  height: 12px;

}
.Yin-yang::after{
  content: "";
  background: black;
  border: 18px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 12px;
  height: 12px;


}@keyframes spin{
  100%{
    -webkit-transform: rotate(360deg) ;
    transform: rotate();
  }
} */
